<!DOCTYPE html>
<html lang="eng">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<h3>To Do List</h3>
<body>
<form method="POST" action="/">
{% csrf_token %}
{{form.title}}
<input type="submit" name ="Create Task">
</form>

{% for task in tasks %}

<div>
    <a href="{% url 'update_task' task.id %}">Update</a>
    <a href="{% url 'delete' task.id %}">Delete</a>
    {% if task.complete == True %}
    <strike>{{task}}</strike>
    {% else %}
    <span>{{task}}</span>
    {% endif %}
</div>
{% endfor %}
</body>
</html>